/* 
    Document   : main
    Created on : Sep 2, 2013, 10:32:32 AM
    Author     : ernstbolt
    Description:
        Purpose of the stylesheet follows.

IN JE HTML :  <link href="main.css" rel="stylesheet" type="text/css"/>
http://www.colorzilla.com/gradient-editor/
http://colorschemedesigner.com/

*/

table {
    font-family:arial;
    border-spacing:0px;
    width:300px;
    border-radius:15px;
    border: 1px solid #213B6B;
    background-color:#4577D4;
}
caption {
    font-style:italic;
}

tbody{
    border-radius: 15px;
}

tbody tr:nth-child(even) {
    background-color: #6B90D4;
}

tbody tr:nth-child(odd) {
    background-color: #96ABD2;
   
}

td, th {
    height:25px;
    padding-left: 5px;
}

table tr td{
    border-top:1px solid red;
}