/* 
    Document   : setup
    Created on : Nov 6, 2013, 11:11:40 AM
    Author     : ernstbolt
    Description:
        Purpose of the stylesheet follows.
*/

.clickme{
    background-color: green;
    width: 50px;
    height:50px;
    border: 1px solid red;
    top: 0px;
    left: 0px;
    position:relative;
    float:left;
}

