/* 
    Document   : main
    Created on : Sep 2, 2013, 10:32:32 AM
    Author     : ernstbolt
    Description:
        Purpose of the stylesheet follows.

IN JE HTML :  <link href="main.css" rel="stylesheet" type="text/css"/>
http://www.colorzilla.com/gradient-editor/
http://colorschemedesigner.com/

*/

#menu ul li ul{
    display:none;
}

#menu ul li:hover ul{
    display:block;
    position:absolute;
    background-color: yellow;
}



#menu ul li:hover li{
    background: red;
    font-size:70%;  
    width:120px;
    position:relative;
    margin-top: 12px;
    float:left;
}

#menu ul li li a{
font-weight:normal;
    padding: 4px 8px;
    background: green;
    
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
   
    text-decoration: none;
    text-shadow: #fff 0px 0px 0px;
    min-width: 0;
    
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-user-select: none;
}
